.cover__subtitle{
max-width: 360px;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
margin-top: 32px;
margin-bottom: 0;
text-align: center;
z-index: 2;
}
.cover__subtitle:hover{
    opacity: 0.8;
    transition: 0.3s;
}

@media all and (max-width: 320px){
    .cover__subtitle{
    font-size: 14px;
    line-height: 16px;
    }
}