.cover__title{
max-width: 560px;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 76px;
margin: 0;
text-align: center;
z-index: 2;
}

.cover__title:hover{
    opacity: 0.8;
    transition: 0.3s;
}

@media all and (max-width: 768px){
    .cover__title{
    font-size: 72px;
    line-height: 76px;
    }
}
@media all and (max-width: 320px){
    .cover__title{
    font-size: 32px;
    line-height: 35px;
    }
}