.footer__list {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    text-align: start;
    justify-content: space-around;
    margin: 0;
}


@media all and (max-width: 586px) {
    .footer__list {
        flex-direction: column;
    }
}
