.footer {
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

@media all and (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}
@media all and (max-width: 768px) {
    .footer {
        max-width: 720px;
    }
}
@media all and (max-width: 586px) {
    .footer {
        min-width: 186px;
        padding-left: 16px;
        padding-right: 121px;
        flex-direction: column;
    }
}
@media all and (max-width: 320px) {
    .footer {
        max-width: 186px;
        padding-right: 118px;
    }
}
