.place__image{
max-height: 460px;
}

@media all and (max-width: 1024px){
    .place__image{
    max-height: 440px;
    }
}

@media all and (max-width: 768px){
    .place__image{
    max-height: 340px;
    }
}
@media all and (min-width: 321px) and (max-width: 767px){
    .place__image{
    max-height: 100%;
    max-width: 100%;
    }
}
@media all and (max-width: 320px){
    .place__image{
    max-height: 320px;
    max-width: 320px;
    }
}